<app-navbar></app-navbar>
<div class="mt-4">
    <div class="row">
        <div class="col-8">
            <h4 style="margin-left: 10%;">API Testing</h4><br>

        </div>
        <div class="col">
            <div *ngIf="!networkService.networkStatus"><app-status-box></app-status-box></div>
            
        </div>
    </div> 
    <div class="row">
        <div class="container left">
            <div class="row">
                <div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="updatePost( selectedIdForUpdate ,selectedFieldForUpdate, textForUpdate)">Update</button></div>
                <div class="col-lg-auto">
                    <select [(ngModel)]="selectedIdForUpdate" >
                        <option value="0">Select ID</option>
                        <option *ngFor="let post of posts" [value]="post._id">{{post._id}}</option>
                    </select>
                </div>
                <div class="col-lg-auto">
                    <select [(ngModel)]="selectedFieldForUpdate" >
                        <option value="0">Select Field</option>
                        <option value="name" >Name</option> 
                        <option value="username">Username</option>
                        <option value="email">Email</option>
                    </select>
                   
                </div>
                <div class="col-lg-auto">
                    <div class="form-floating">
                        <input [(ngModel)]="textForUpdate" type="text" class="form-control" id="updateText" placeholder="name@example.com">
                        <label for="updateText">Enter Text Here</label>
                      </div>
                </div>
            </div>
            
      <form novalidate  [formGroup]="userForm">
        <div class="row">
          <div class="col-lg-2">
            <button type="button" class="btn btn-primary" (click)="InsertData()">Insert</button>
          </div>
          <div class="col-lg-2">
            <div class="col-6">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  formControlName="name"
                />
                <label for="floatingInput">Name<span style="color: red;">*</span></label>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="col-6">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  formControlName="username"
                />
                <label for="floatingInput">Username<span style="color: red;">*</span></label>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="col-6">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  formControlName="email"
                />
                <label for="floatingInput">Email<span style="color: red;">*</span></label>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-auto">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Insert Body Here</label>
                      </div>
                </div> -->
        </div>
      </form>
            <div class="row">
                <div class="col-lg-2"><button type="button" class="btn btn-primary" (click)="deleteUser(selUserToDelete)">Delete</button></div>
                <div class="col-lg-auto">
                    <select [(ngModel)]="selUserToDelete">
                        <option value="0">Select ID</option> 
                        <option *ngFor="let post of posts" [value]="post._id">{{post._id}}</option>
                    </select>
                </div>
            </div>
                           
        </div>
    </div>
   <div class="container down">
    <div class="row">
        <h5>Getting All Records</h5>
        <table class="table table-striped" >
            <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
            <tbody>
                <tr *ngFor="let post of posts">
                    <th scope="row">{{ post._id }}</th>
                    <td>{{ post.name }}</td>
                    <td>{{ post.username }}</td>
                    <td>{{ post.email}}</td>
                  </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
    <h5>Getting Single Record</h5>
    <form [formGroup]="searchForm">
        <div class="col-4">
            <div class="form-floating mb-3">
                <input type="text" formControlName="searchInput" class="formControl" placeholder="Post ID">
                
              </div>
        </div> 
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="findPost(this.searchForm.controls.searchInput.value!)">Find Post</button>  
        </div>
    </form>
        
    <table *ngIf="docs.length > 0">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of docs">
            <td>{{doc._id}}</td>
            <td>{{doc.name}}</td>
            <td>{{doc.username}}</td>
            <td>{{doc.email}}</td>
          </tr>
        </tbody>
     </table>

     
    </div>
   </div> 
  <div class="container"style="margin-top: 20px">
    <img id="onlineImage" src="assets/online-image.jpg" alt="Online Image" width="144px" height="48px">
    <img  id="offlineImage" src="assets/offline-image.jpg" alt="Offline Image" width="144px" height="48px">
  </div>
</div>

