<app-navbar></app-navbar>
<div class="container mt-5">
    <H2>Features</H2>
    <ul>
      <li>✅ Angular App </li>
      <li>✅ Uses a Service worker for robust caching</li>
      <li>✅ Local PouchD (in browser IndexedDB)</li>
      <li>❌ CouchDB (to sync to)</li>
      <li>❌ Show unsynced records in small dashboard area</li>
      <li>❌ HttpClient (previously fetchAPI) testing API caching functionality</li>
      <li>❌ Querying cached data</li>
      <li>✅ Online / Offline indicator</li>
      <li>✅ Bootstrap CSS</li>
      <li>✅ Sweet Alert (this beautifies alert popups)</li>
      <li>✅ Example Clinician dropdown working offline (Fetch API cached)</li>
      <li>✅ Token is issued and stored for offline login</li>
      <li>✅ Token is encrypted</li>
      <li>✅ Authorization check on Pages (using Auth Guard)</li>
    </ul>
</div>

