<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Database Status</div>
    <div class="card-body">
        <div style="font-size: smaller;">
            <table>
                <tr>
                    <td>Local records:</td>
                    <td> {{countIn}}</td>
                </tr>
                <tr>
                    <td>Synced records:</td>
                    <td> {{countOut}}</td>
                </tr>
                <tr>
                    <td>Offline Airtime: &nbsp; &nbsp; </td>
                    <td> {{time}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>